name: Build

on:
  workflow_dispatch:
  pull_request:
    branches: [main, release/paclet]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  RESOURCE_PUBLISHER_TOKEN: ${{ secrets.RESOURCE_PUBLISHER_TOKEN }}
  WOLFRAMSCRIPT_ENTITLEMENTID: ${{ secrets.WOLFRAMSCRIPT_ENTITLEMENTID }}
  WOLFRAMINIT: -lmverbose

jobs:

  Build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 30

    container:
      image: wolframresearch/wolframengine:14.2
      options: --user root

    env:
      WOLFRAM_SYSTEM_ID: Linux-x86-64

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build
      run: wolframscript -f Scripts/BuildPaclet.wls

    - name: Build MCPB
      run: wolframscript -f Scripts/BuildMCPB.wls

    - name: Upload Paclet Artifact
      uses: actions/upload-artifact@v4
      with:
        name: paclet
        path: ${{ env.PACLET_BUILD_DIR }}

    - name: Upload MCPB Artifact
      uses: actions/upload-artifact@v4
      with:
        name: mcpb
        path: ${{ env.MCPB_PATH }}

    - name: Install Test Dependencies
      run: wolframscript -f Scripts/InstallTestDependencies.wls

    - name: Test
      run: wolframscript -f Scripts/TestPaclet.wls

    - name: Upload Stack Data
      if: always() && env.PACLET_STACK_HISTORY
      uses: actions/upload-artifact@v4
      with:
        name: StackData
        path: ${{ env.PACLET_STACK_HISTORY }}
        retention-days: 1
        if-no-files-found: error